.nav {
  position: fixed;
  padding: 15px ;
  width: 100vw;
  background-color: $color-secondary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $box-shadow;
}

.nav__logo {
  width: 27vh;
  //         @include flex(center, center);
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 33%;
  margin: 0;
  padding: 0;

  a {
    margin: 10px;
    color: $color-primary;
    font-size: $font-size-text;
    font-weight: $bold;
    text-decoration: none;
  }
}

// linha animada
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $laranja;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

//     a {color: $color-bg-secondary;}

//     p {
//         margin: 0;
//         width: 70px;
//         font-size: 16px;
//     }
// }

// login
.area-usuario__item {
  background-color: $roxinho;
  color: $color-secondary;
  border: none;
  font-weight: $bold;
  font-size: 15px;
  border-radius: 4px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  height: 32px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  box-shadow: 1px 1px $gray, 2px 2px $gray, 3px 3px $gray;
  transform: translateX(-3px);
}
