html {
    scroll-behavior: smooth;
    overflow-inline: hidden;
}

/* botoes */

.btn-padrao {
    background-color: rgb(223, 49, 92);
    transition: all 0.2s ease-in-out;
}

.btn-padrao:hover {
    box-shadow: 1px 1px gray, 2px 2px gray, 3px 3px gray;
    transform: translateX(-3px);
}

/* navegacao */

.bar {
    background-color: rgba(255, 255, 255, 0.589);
    animation: fadeIn 1s timing-function delay iteration-count direction fill-mode;
}

.fadeIn {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.nav__logo {
    width: 17vw;
    padding: 10px;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgb(252, 168, 59);
    transform-origin: bottom right;
    transition: transform 0.30s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* cabecalho */

.header {
    height: 100vh;
    background-image: url(../imgs/bg-opaco.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    background-attachment: fixed;
}

/* noticias */

.noticias {
    height: 60%;
    margin-bottom: 120px;
}

/* entrevistas */

.entrevistas {
    height: 60%;
    padding-bottom: 120px;
    background-color: rgba(255, 191, 191, 0.281);
}

/* pesquisas */

.pesquisas {
    padding-bottom: 120px;
    /* background-color: #ff906b; */
}

/* filmes */
.filmes {
    background-color: rgba(255, 96, 56, 0.37);
}

/* cards */

.card-content {
    top: 220px;
    left: 150px;
}

.card-width {
    min-height: 200px;
}

.card-icon {
    width: 50px;
}

/* fontes */

h3 {
    padding-bottom: 15px;
}

.font-title {
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
}

.font-subtitle {
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
}

.font-any {
    font-family: 'Poppins', sans-serif;
}

.font-text {
    font-size: 0.95rem;
    font-family: 'Poppins', sans-serif;
    color: #212529;
}

/* links */

a {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.link-footer {
    color: #b8293c;
}

.link-footer:hover {
    text-decoration: none;
    color: rgb(24, 23, 23);
}

.img-mulheres {
    width: 900px;
}

.img-dev {
    width: 280px;
}

/* backgrounds */

.bg-card {
    /* background-color: rgba(253, 198, 45, 0.281); */
    background-color: #fae18f65;
}

.bg-transparent {
    background-color: rgba(255, 255, 255, 0);
    /* background-attachment: parallax; */
}

.bg-footer {
    background-color: #ff906b;
    /* background-color: #fa7268; */
    /* background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png"); */
}